body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url("https://cdn.pixabay.com/photo/2018/04/07/08/28/notepad-3297994_1280.jpg");
  }

  .calculator {
    
    background-color:rgb(130, 103, 126);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 3px solid black;
   

  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(69, 100, 105);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
  }

  button:hover {
    background-color: #64485a;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
  }